
name: Github action maven build
on:
  push:
    branches: [ "main" ]
    

jobs:
  build-on-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - name: 1. checkout the main github branch
        uses: actions/checkout@v3
      
      - name: 2. Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
        
      #- name: 3. Have Github action build maven projects
       # run: mvn -B package --file pom.xml
        
      - name: 4. List the current direcctory
        run: ls -a
        
      - shell: bash
        run: |
          expr 1 + 1 > output.log
      - name: Upload output file
        uses: actions/upload-artifact@v3
        with:
          name: output-log-file
          path: output.log
          
      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          name: output-log-file
          
      - name: Dump GitHub context
        id: github_context_step
        run: echo '${{ toJSON(github) }}'
      - name: Dump job context
        run: echo '${{ toJSON(job) }}'
      - name: Dump steps context
        run: echo '${{ toJSON(steps) }}'
      - name: Dump runner context
        run: echo '${{ toJSON(runner) }}'
      - name: Dump strategy context
        run: echo '${{ toJSON(strategy) }}'
      - name: Dump matrix context
        run: echo '${{ toJSON(matrix) }}'
        
      #- name: 5. What is in the target folder
       # run: |
        #  cd target
         # ls -a
        
        
        

          
